@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* CHANGED: Using your new #AB886D color as the global background */
  @apply bg-cafe-base text-cafe-100 font-sans antialiased;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-serif;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  @apply bg-cafe-base;
}
::-webkit-scrollbar-thumb {
  @apply bg-cafe-100/50 rounded-full hover:bg-cafe-100;
}